@import '../../index.scss';

.foto-section{
    padding: 10px 160px 100px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .foto-tabs{
        display: flex;
        gap: 0px;
        border: 1.5px solid rgba(0, 0, 0, 0.056);
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 10px;
        padding: 2px;
        border-radius: 4px;
        background: white;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
        .tab-wrapper{
            .tab-button{
                border: none;
                border-radius: 4px;
                padding: 12px 16px;
                font-size: 16px;
                font-family: 'GSN';
                background: none;
                color: rgba(0, 0, 0, 0.365);
                cursor: pointer;
            }
            .active {
                border: 2px solid $meliora-color;
                border-radius: 4px;
                padding: 10px 14px;
                font-size: 16px;
                font-family: 'GSN';
                background-color: rgba(244, 173, 86, 0.5);
                color: black;
            }
        }
    }
    .swiper{
        width: 80%;
        height: 100%;
        .swiper-wrapper{
            .swiper-slide {
                position: relative;
                padding: 10px;
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
              }       
        }
        .swiper-pagination{
            position: relative;
            margin-top: -20px;
            font-family: "DM Serif Display", serif;
            font-size: $font-size-xmedium;
            // font-weight: medium;
        }
        .swiper-pagination-current{
            font-size: $font-size-xxlarge;
        }
        .swiper-button{
            position: relative;
        }
        .swiper-button-prev{
            margin-left: 28px;
            content: url("../../../public/Assets/images/icons/left2.svg");
        }
        .swiper-button-next{
            margin-right: 8px;
            content: url("../../../public/Assets/images/icons/right2.svg")
        }

    }

    .image-wrapper{
        width: 800px;
        height: 600px;
        img{
            margin-top: 86px;
            object-position: 50% 74%;
            object-fit: cover;
            width: 90%;
            height: 380px;
            border: solid 20px #fff ;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
    }
    .vbg-wrapper{
        width: 800px;
        position: absolute;
        z-index: -1;
        transform: rotate(-7deg);
        .vbg{
            object-fit: cover;
            width: 90%;
            height: 90%;
            border: solid 20px #fff ;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
    }
    .name-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            text-align: center;
            font-family: "DM Serif Display", serif;
            font-size: $font-size-large;
            font-weight: normal;

        }
        .koordinator-wrapper{
            margin: 16px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 16px;
            .koordinator-img{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    border-radius: 100px;
                    object-fit: cover;
                    height: 70px;
                    width: 70px;
                    border: solid 2px;
                }
                .Gandara{
                    border-color: $gandara-color;
                }
                .Gajendra{
                    border-color: $gajendra-color;
                }
                .Balwana{
                    border-color: $balwana-color;
                }
                .Baskara{
                    border-color:$baskara-color;
                }
                .Bimasena{
                    border-color:$bimasena-color;
                }
                .Caksana{
                    border-color:$caksana-color;
                }
                .Lavanya{
                    border-color:$lavanya-color;
                }
                .Nayanika{
                    border-color: $nayanika-color;
                }
                .Sakha{
                    border-color: $sakha-color;
                }
                .Sarkara{
                    border-color: $sarkara-color;
                }
                .Saraya{
                    border-color: $saraya-color;
                }
            }
            p{
                
            }
        }
        .anggota-wrapper{
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 40%;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
            padding: 10px;
            .anggota{
                p{
                    text-align: justify;
                }
            }
        }
    }
}