@import '../../index.scss';

.foto-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    gap: 32px;
    box-sizing: border-box;
    overflow: visible;

    .tab-container {
        position: sticky;
        top: 20px;
        display: flex;
        gap: 0px;
        border: 1.5px solid rgba(0, 0, 0, 0.056);
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
        padding: 2px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(14px);
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
        z-index: 999;

        .tab-button {
            border: none;
            border-radius: 100px;
            padding: 12px 16px;
            font-size: 16px;
            background: none;
            color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .active {
            border: 2px solid $meliora-color;
            border-radius: 100px;
            padding: 10px 14px;
            font-size: 16px;
            background-color: rgba(244, 173, 86, 0.5);
            color: black;
        }
    }

    .tab-container:hover {
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-toggle {
        position: sticky;
        top: 20px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        backdrop-filter: blur(14px);
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px;
        max-width: 400px;
        width: -webkit-fill-available;
        box-sizing: border-box;
        z-index: 999;
        font-size: 16px;
    }

    .dropdown-menu {
        position: sticky;
        top: 84px;
        border-radius: 20px;
        margin-top: -20px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
        width: -webkit-fill-available;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 7px 17.7px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14px);
        z-index: 999;
        overflow: hidden;

        .dropdown-item {
            display: flex;
            padding: 14px 20px;
            width: -webkit-fill-available;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    .swiper {
        width: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 180px 80px 180px;

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5); // Adjust background color
            color: white; // Adjust text color
            border: none;
            border-radius: 50%;
            width: 32px; // Adjust size
            height: 32px; // Adjust size
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3px; // Adjust icon size
            cursor: pointer;
            z-index: 20;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.8); // Hover effect
            }
        }

        .swiper-button-next {
            right: 32px; // Adjust position
        }

        .swiper-button-prev {
            left: 32px; // Adjust position
        }

        .swiper-button-prev:after, .swiper-button-next:after {
            font-size: 16px;
        }

        .swiper-wrapper {
            display: flex;
            flex-direction: row;

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: scale(0.9);
                filter: blur(5px);
                transition: all 0.3s ease-in-out;

                .image-wrapper {
                    aspect-ratio: 16/9;
                    border-radius: 20px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: -webkit-fill-available;
                    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);

                    img {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .swiper-slide-active{
                transition: all 0.3 ease-in-out;
                opacity: 1;
                filter: blur(0);
                transform: scale(1);
            }
        }

        .swiper-pagination {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 32px;
            height: fit-content;
            background: rgba(255, 255, 255, 0.1);
            width: fit-content;
            margin: 0 auto;
            border-radius: 100px;
            padding: 2px 12px;

            .swiper-pagination-bullet {
              background: #FFF;
              opacity: 0.3;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
        
            .swiper-pagination-bullet-active {
              background: #FFF;
              opacity: 0.8;
              width: 32px;
              height: 8px;
              border-radius: 100px;
            }
        }
    }

    .name-wrapper {
        box-sizing: border-box;
        max-width: 1200px;
        width: -webkit-fill-available;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;

        .koordinator-head{
            display: flex;
            justify-content: center;
            align-items: center;
            width: -webkit-fill-available;
            padding: 20px 0;

            h1{
                text-align: center;
                font-family: "DM Serif Display", serif;
                font-size: 24px;
                font-weight: normal;
                color: #fff;
                text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, transparent, #FFF 50%, transparent);
            }
            
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, transparent, #FFF 50%, transparent);
            }
        }

        .koordinator-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            z-index: 12;

            .koordinator-person {
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: center;
                align-items: center;
                padding: 4px;
                background: white;
                border-radius: 12px;
                width: 120px;
                box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);

                .koordinator-img {
                    overflow: hidden;
                    border-radius: 8px;
                    aspect-ratio: 1/1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h1 {
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    text-align: center;
                    line-height: 120%;
                }

                p {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.4);
                    text-align: center;
                }
            }
        }

        .anggota-wrapper{
            margin-top: -60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.32);
            box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
            padding: 20px;
            padding-top: 80px;
            border: 1.5px solid white;
            gap: 12px;

            h1 {
                font-family: "DM Serif Display", serif;
                font-size: 24px;
                font-weight: normal;
                color: #fff;
                text-align: center;
                text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            }

            .anggota {
                p {
                    font-size: 20px;
                    color: rgba(255, 255, 255, 0.8);
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .foto-section{   
        .swiper {
            padding: 0px 80px 80px 80px;
    
            .swiper-wrapper {
                .swiper-slide {
                    .image-wrapper {
                        img {
                        }
                    }
                }
    
                .swiper-slide-active{
                }
            }
    
            .swiper-pagination {
                .swiper-pagination-bullet {
                }
            
                .swiper-pagination-bullet-active {
                }
            }
        }
    
        .name-wrapper {
            padding: 16px;
    
            .koordinator-head{
                h1{
                }
    
                &::before {
                }
                
                &::after {
                }
            }
    
            .koordinator-wrapper {    
                .koordinator-person {
                    width: 140px;
    
                    .koordinator-img {
                        img {
                        }
                    }
    
                    h1 {
                    }
    
                    p {
                    }
                }
            }
    
            .anggota-wrapper{    
                h1 {
                }
    
                .anggota {
                    p {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .foto-section{   
        .tab-container {
            display: none;
        }

        .dropdown-toggle {
            display: flex;
            top: 60px;
        }

        .dropdown-menu {
            display: flex;
            top: 120px;
        }

        .swiper {
            padding: 0px 40px 80px 40px;
    
            .swiper-wrapper {
                .swiper-slide {
                    .image-wrapper {
                        img {
                        }
                    }
                }
    
                .swiper-slide-active{
                }
            }
    
            .swiper-pagination {
                .swiper-pagination-bullet {
                }
            
                .swiper-pagination-bullet-active {
                }
            }
        }
    
        .name-wrapper {
            padding: 40px 16px;
    
            .koordinator-head{
                padding: 0;
                margin-bottom: 32px;

                h1{
                }
    
                &::before {
                }
                
                &::after {
                }
            }
    
            .koordinator-wrapper {    
                gap: 8px;

                .koordinator-person {
                    flex-direction: row;
                    width: 140px;
                    gap: 10px;
    
                    .koordinator-img {
                        width: 100px;

                        img {
                        }
                    }
    
                    h1 {
                        text-align: left;
                    }
    
                    p {
                    }
                }
            }
    
            .anggota-wrapper{   
                margin-top: -40px; 
                padding-top: 60px;
                
                h1 {
                }
    
                .anggota {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .foto-section{   
        .tab-container {
            display: none;
        }

        .dropdown-toggle {
            top: 60px;
        }

        .dropdown-menu {
            top: 120px;
        }

        .swiper {
            padding: 0px 16px 80px 16px;
    
            .swiper-wrapper {
                .swiper-slide {
                    .image-wrapper {
                        img {
                        }
                    }
                }
    
                .swiper-slide-active{
                }
            }
    
            .swiper-pagination {
                .swiper-pagination-bullet {
                }
            
                .swiper-pagination-bullet-active {
                }
            }
        }
    
        .name-wrapper {
            padding: 16px;
    
            .koordinator-head{
                h1{
                }
    
                &::before {
                }
                
                &::after {
                }
            }
    
            .koordinator-wrapper {    
                .koordinator-person {
                    width: 140px;
    
                    .koordinator-img {
                        img {
                        }
                    }
    
                    h1 {
                        font-size: 14px;
                    }
    
                    p {
                    }
                }
            }
    
            .anggota-wrapper{    
                h1 {
                }
    
                .anggota {
                    p {
                    }
                }
            }
        }
    }
}
