@import "../../index.scss";

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    z-index: 999;
    padding: 8px 20px;

    .box-info {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        .logo {
            width: 36px;
            height: 36px;
        }

        .nama {
            font-size: 16px;
            font-family: "DM Serif Display", system-ui;
            color: $meliora-color;
            font-weight: 500;
        }
    }

    .copyright {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.32);
    }
}