// TOP INFO
.top-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 36px 50px 20px 50px ;
    .box-info {
        display: flex;
        align-items: center;
        .logo {
            width: 50px;
            height: fit-content;
        }
        .nama {
            font-family: Chopper;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            margin: 0 0 0 8px;
            background: linear-gradient(150deg, #92463B 0%, #B9594A 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .copyright {
        color: #AEAEAE;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }
}

// WIDTH 1919 - 1440
@media screen and (max-width: 1439px) {
    .top-info {
        .box-info {
            .logo {
                width: 32px;
            }
            .nama {
                font-size: 20px;
                margin: 0 0 0 4px;
            }
        }
        .copyright {
            font-size: 12px;     
        }
    }
}

// WIDTH <= 810 dan > 432
@media screen and (max-width: 809px) {
    .top-info {
        .box-info {
            .logo {
                width: 20px;
            }
            .nama {
                font-size: 18px;
                margin: 0 0 0 4px;
            }
        }
        .copyright {
            font-size: 10px;     
        }
    }
}

// WIDTH <= 432
@media screen and (max-width: 432px) {
    .top-info {
        flex-direction: column;
        margin-bottom: 0px;
        padding: 20px 20px 20px 20px ;
        .box-info {
            .logo {
                width: 20px;
            }
            .nama {
                font-size: 16px;
                margin: 0 0 0 4px;
            }
        }
        .copyright {
            margin-top: 4;
            margin-bottom: 0;
            font-size: 8px;     
        }
    }
}