@import '../../index.scss';

@keyframes slideIn {
  from {
      transform: scale(0.6);
  }
  to {
      transform: scale(1);
  }
}
@keyframes slideIn2 {
  from {
      transform: scale(0.6);
  }
  to {
      transform: scale(0.84);
  }
}

@keyframes slideOut {
  from {
      transform: scale(1);
      opacity: 1;
  }
  to {
      transform: scale(0);
      opacity: 0;
  }
}

.divisi-swiper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: -webkit-fill-available;

  .swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px 0px;
    gap: 32px;

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }

    .swiper-wrapper {
      display: flex;
      flex-direction: row;

      .swiper-slide {
        opacity: 1;
        transform: scale(0.7);
        filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
  
        .swiper-content {
          display: flex;
          flex-direction: column;
          gap: 32px;
          justify-content: center;
          align-items: center;

          .image-wrapper- {
            position: relative;
            width: -webkit-fill-available;
            display: flex;
            justify-content: center;
            align-items: center;

            .left-frame-container,
            .middle-frame-container,
            .right-frame-container{
              border: 3px solid white;
              border-radius: 20px;
              width: 240px;
              overflow: hidden;
              height: 280px;
              box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);

              .left,
              .middle,
              .right {
                width: 100%;
                height: 100%;
                object-fit: cover;

              }
            }

            .left-frame-container {
              z-index: 1;
              margin-right: -240px;
              margin-top: 0px;
              transform: rotate(-10deg);
              transition: all 0.3s ease-in-out;
            }

            .middle-frame-container {
              z-index: 2;
              transform: rotate(-2deg);
              transition: all 0.3s ease-in-out;
            }

            .right-frame-container {
              z-index: 1;
              margin-left: -240px;
              margin-top: 0px;
              transform: rotate(10deg);
              transition: all 0.3s ease-in-out;
            }
          }

          .keterangan-divisi {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: center;

            .logo-divisi {
              width: 120px;
              height: auto;
              border-radius: 50%;
            }

            .text-wrapper {
              display: flex;
              flex-direction: column;
              gap: 0px;

              h1 {
                font-family: "DM Serif Display", system-ui;
                font-size: 40px;
                color: white;
                font-weight: 500;
                text-align: left;
                text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
              }

              .text-divisi-wrapper {
                width: fit-content;
                display: none;
                padding: 6px 16px;
                border-radius: 100px;
                background: white;
                font-size: 16px;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                .text-divisi-merah{
                  color:$balwana-color;
                }
                .text-divisi-biru{
                  color:$gandara-color;
                }
                .text-divisi-pink{
                  color:$sakha-color;
                }
                .text-divisi-abu{
                  color:$caksana-color;
                }
                .text-divisi-toska{
                  color:$lavanya-color;
                }
                .text-divisi-kuning{
                  color:$nayanika-color;
                }
                .text-divisi-oranye{
                  color:$baskara-color;
                }
                .text-divisi-hitam{
                  color:$bimasena-color;
                }
                .text-divisi-ungu{
                  color:$gajendra-color;
                }
                .text-divisi-cokelat{
                  color:$sarkara-color;
                }
                .text-divisi-hijau{
                  color:$saraya-color;
                }
              }
            }
          }
        }
      }

      .swiper-slide-active {
        animation: slideIn 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1);
        transition: filter 100ms ease-in-out;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        filter: blur(0px);
        z-index: 10;

        .swiper-content {
          .image-wrapper- {

            .left-frame-container,
            .middle-frame-container,
            .right-frame-container{              

              .left,
              .middle,
              .right {
              }
            }

            .left-frame-container {
              z-index: 1;
              margin-right: -120px;
              margin-top: 20px;
              transform: rotate(-10deg);
            }

            .middle-frame-container {
              z-index: 2;
              transform: rotate(-0deg);
            }

            .right-frame-container {
              z-index: 1;
              margin-left: -120px;
              margin-top: 20px;
              transform: rotate(10deg);
            }
          }

          .keterangan-divisi {
            .logo-divisi {
            }

            .text-wrapper {
              h1 {
              }

              .text-divisi-wrapper {
                display: flex;

                .text-divisi-merah{
                  color:$balwana-color;
                }
                .text-divisi-biru{
                  color:$gandara-color;
                }
                .text-divisi-pink{
                  color:$sakha-color;
                }
                .text-divisi-abu{
                  color:$caksana-color;
                }
                .text-divisi-toska{
                  color:$lavanya-color;
                }
                .text-divisi-kuning{
                  color:$nayanika-color;
                }
                .text-divisi-oranye{
                  color:$baskara-color;
                }
                .text-divisi-hitam{
                  color:$bimasena-color;
                }
                .text-divisi-ungu{
                  color:$gajendra-color;
                }
                .text-divisi-cokelat{
                  color:$sarkara-color;
                }
                .text-divisi-hijau{
                  color:$saraya-color;
                }
              }
            }
          }
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        background: #FFF;
        opacity: 0.3;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }
  
      .swiper-pagination-bullet-active {
        background: #FFF;
        opacity: 0.8;
        width: 20px;
        height: 8px;
        border-radius: 100px;
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .divisi-swiper{
    .swiper {
      padding: 32px 0px 0px 0px;
  
      .swiper-wrapper {
        .swiper-slide {
          .swiper-content {
            .image-wrapper- {
              .left-frame-container,
              .middle-frame-container,
              .right-frame-container{  
                width: 200px;
                height: 240px;

                .left,
                .middle,
                .right {
                }
              }
  
              .left-frame-container {
              }
  
              .middle-frame-container {
              }
  
              .right-frame-container {
              }
            }
  
            .keterangan-divisi {
              gap: 16px;
  
              .logo-divisi {
                width: 100px;
              }
  
              .text-wrapper {
                h1 {
                  font-size: 32px;
                }
  
                .text-divisi-wrapper {
                  font-size: 14px;
                }
              }
            }
          }
        }
  
        .swiper-slide-active {
          .swiper-content {
            .image-wrapper- {
  
              .left-frame-container,
              .middle-frame-container,
              .right-frame-container{   
                width: 200px;
                height: 240px;
  
                .left,
                .middle,
                .right {
                }
              }
  
              .left-frame-container {
                margin-right: -100px;
                margin-top: 10px;
              }
  
              .middle-frame-container {
              }
  
              .right-frame-container {
                margin-left: -100px;
                margin-top: 10px;
              }
            }
  
            .keterangan-divisi {
              .logo-divisi {
              }
  
              .text-wrapper {
                h1 {
                }
  
                .text-divisi-wrapper {
                  display: flex;
  
                  .text-divisi-merah{
                    color:$balwana-color;
                  }
                  .text-divisi-biru{
                    color:$gandara-color;
                  }
                  .text-divisi-pink{
                    color:$sakha-color;
                  }
                  .text-divisi-abu{
                    color:$caksana-color;
                  }
                  .text-divisi-toska{
                    color:$lavanya-color;
                  }
                  .text-divisi-kuning{
                    color:$nayanika-color;
                  }
                  .text-divisi-oranye{
                    color:$baskara-color;
                  }
                  .text-divisi-hitam{
                    color:$bimasena-color;
                  }
                  .text-divisi-ungu{
                    color:$gajendra-color;
                  }
                  .text-divisi-cokelat{
                    color:$sarkara-color;
                  }
                  .text-divisi-hijau{
                    color:$saraya-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .divisi-swiper{
    .swiper {
      padding: 32px 0px 0px 0px;
  
      .swiper-wrapper {
        .swiper-slide {
          .swiper-content {
            .image-wrapper- {
              .left-frame-container,
              .middle-frame-container,
              .right-frame-container{  
                .left,
                .middle,
                .right {
                }
              }
  
              .left-frame-container {
              }
  
              .middle-frame-container {
              }
  
              .right-frame-container {
              }
            }
  
            .keterangan-divisi {
              gap: 16px;
  
              .logo-divisi {
                width: 100px;
              }
  
              .text-wrapper {
                h1 {
                  font-size: 32px;
                }
  
                .text-divisi-wrapper {
                  font-size: 14px;
                }
              }
            }
          }
        }
  
        .swiper-slide-active {
          .swiper-content {
            .image-wrapper- {
  
              .left-frame-container,
              .middle-frame-container,
              .right-frame-container{              
  
                .left,
                .middle,
                .right {
                }
              }
  
              .left-frame-container {
                margin-right: -100px;
                margin-top: 10px;
              }
  
              .middle-frame-container {
              }
  
              .right-frame-container {
                margin-left: -100px;
                margin-top: 10px;
              }
            }
  
            .keterangan-divisi {
              .logo-divisi {
              }
  
              .text-wrapper {
                h1 {
                }
  
                .text-divisi-wrapper {
                  display: flex;
  
                  .text-divisi-merah{
                    color:$balwana-color;
                  }
                  .text-divisi-biru{
                    color:$gandara-color;
                  }
                  .text-divisi-pink{
                    color:$sakha-color;
                  }
                  .text-divisi-abu{
                    color:$caksana-color;
                  }
                  .text-divisi-toska{
                    color:$lavanya-color;
                  }
                  .text-divisi-kuning{
                    color:$nayanika-color;
                  }
                  .text-divisi-oranye{
                    color:$baskara-color;
                  }
                  .text-divisi-hitam{
                    color:$bimasena-color;
                  }
                  .text-divisi-ungu{
                    color:$gajendra-color;
                  }
                  .text-divisi-cokelat{
                    color:$sarkara-color;
                  }
                  .text-divisi-hijau{
                    color:$saraya-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}