@import "../../index.scss";

.section {
  display: flex;
  padding: 60px 160px 100px 160px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  overflow: hidden;
  position: relative;

  .section-content {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;

    .content-card {
      display: flex;
      flex-wrap: wrap;       
      justify-content: center; 
      align-items: center;    
      gap: 60px;             
      width: 100%;
    }

    .frame-container:nth-child(2) {
      margin-top: -100px;  // Adjust this value as needed
    }

    .frame-container {
      flex: 1 1 calc(33.333% - 40px);
      max-width: calc(33.333% - 40px);
      display: flex;
      flex-direction: column;  
      align-items: center;  
      transition: transform 0.5s ease-in-out; 

      &:nth-child(1), 
      &:nth-child(4) {
        transform: rotate(1deg); 
      }
      
      &:nth-child(3), 
      &:nth-child(5) {
        transform: rotate(-1deg); 
      }

      &:hover {
        transform: translateY(-5px);
        scale: 1.02;
      }
      
      .card{
        padding: 20px;
        background: white;
        box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        img {
          width: 100%;
          height: 100%; 
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
  
      }
      .frame-info {
        text-align: left;    
        padding: 10px 0;

        .frame-title {
          font-size: 20px;
          font-weight: 700;
          color: #F4AC56;
        }

        .frame-date {
          font-size: 16px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .section {
    padding: 100px;

    .section-content {
      .content-card {
      }
      .frame-container {
        .card{
          img {
          }
        }
        .video-info {
          .frame-title {
          }
          .frame-date {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .section {
    padding: 80px;
    .section-content {
      .content-card {
        margin-top: 0;
        gap: 60px;
      }

      .frame-container {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
        margin-top: 0;

        .card {
          img { 
          }
        }
        .frame-info {
          .frame-title {
          }
          .frame-date {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 810px){
  .section {
    padding: 40px;
    .section-content {
      .content-card {
        max-width: 100%;     
        flex-direction: row;
        gap: 12px;

        .frame-container:nth-child(1),
        .frame-container:nth-child(2),
        .frame-container:nth-child(3) {
          margin-top: 0;
        }
      }
      .frame-container {
        flex: 1 1 100%;
        max-width: 100%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          transform: rotate(0deg); 
        }

        .card{
          img {
            aspect-ratio: 16/9;
          }
        }
        .frame-info {
          .frame-title {
          }
          .frame-date {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px){
  .section {
    padding: 20px 40px;
    .section-content {
      .content-card { 
        flex-direction: row;
        gap: 12px;
      }
      .frame-container {
        .card{
          img {
          }
        }
        .frame-info {
          .frame-title {
          }
          .frame-date {
          }
        }
      }
    }
  }
}