.pelaksanaan_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
    max-width: 800px;
    width: -webkit-fill-available;
    margin: 0 auto;

    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 16px;

        .each-card {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 8px;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(20px);
            width: -webkit-fill-available;
            box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s ease;

            &::before {
                content: '';
                position: absolute;
                top: -80%;
                left: -50%;
                width: 200%;
                height: 200%;
                background: linear-gradient(
                    to bottom right,
                    rgba(255, 255, 255, 0.3) 20%,
                    rgba(255, 255, 255, 0.2) 40%,
                    rgba(255, 255, 255, 0) 60%
                );
                transform: rotate(30deg);
                opacity: 0;
                transition: opacity 0.3s ease, transform 0.5s ease;
                pointer-events: none; 
            }

            .image-wrapper {
                display: grid;
                grid-template-columns: 0.7fr 1fr;
                gap: 8px;
                align-items: center;

                .card-image {
                    display: flex;
                    flex-direction: column;
                    border-radius: 16px;
                    height: 320px;
                    overflow: hidden;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .card-info {
                display: flex;
                flex-direction: row;
                gap: 12px;
                align-items: center;
                padding: 0px 12px 12px 12px;
                justify-content: space-between;

                .card-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
    
                    h1 {
                        font-size: 24px;
                        font-weight: 600;
                        color: #000000;
                    }
    
                    p {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.32);
                    }
                }

                .card-button {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;
                    gap: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 100px;
                    background: transparent;
                    transition: background-color 0.3s ease;
                    cursor: pointer;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    p {
                        font-size: 14px;
                        color: black;
                    }

                    &:hover {
                        background: rgba(0, 0, 0, 0.05) !important;
                    }
                }
            }
        }

        .each-card:hover {
            transform: translateY(-5px);
            box-shadow: 0px 12px 28px -6px rgba(24, 39, 75, 0.18), 0px 18px 88px -4px rgba(24, 39, 75, 0.18);

            &::before {
                opacity: 1;
                transform: rotate(30deg) translate(10%, 10%);
            }
        }

        .youtube {
            cursor: initial;
            background-color: #fac88a95;

            .info {
                display: flex;
                gap: 4px;
                align-items: center;
                justify-content: space-between;
                padding: 4px 12px 0px 12px;
                
                p {
                    font-size: 14px;
                }
            }
            .card-image {
                aspect-ratio: 16 / 9;
                border-radius: 16px;
                overflow: hidden;

                iframe {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .pelaksanaan_section {
        gap: 16px;
    
        .card-wrapper {
            .each-card {        
                .image-wrapper {
                    grid-template-columns: 1fr 1fr;

                    .card-image {
                        img {
                        }
                    }
                }
    
                .card-info {
                    .card-text {
                        h1 {
                        }
        
                        p {
                        }
                    }
    
                    .card-button {
                        &:hover {
                            background: transparent;
                        }

                        &:active {
                            background: rgba(0, 0, 0, 0.05) !important;
                        }
                    }
                }
            }
    
            .each-card:hover {
                transform: translateY(0px);
                box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
    
                &::before {
                    opacity: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .pelaksanaan_section {
        gap: 16px;
    
        .card-wrapper {
            .each-card {        
                .image-wrapper {
                    .card-image {
                        height: 240px;

                        img {
                        }
                    }
                }
    
                .card-info {
                    flex-direction: column;
    
                    .card-text {
                        width: -webkit-fill-available;
        
                        h1 {
                            font-size: 22px;
                        }
        
                        p {
                        }
                    }
    
                    .card-button {
                        width: -webkit-fill-available;
                        justify-content: center;
                        padding: 12px 20px;

                        img {
                        }
    
                        p {
                            text-align: center;
                        }
    
                        &:hover {
                        }
                    }
                }
            }
    
            .each-card:hover {
                &::before {
                }
            }
        }
    }
}