@import '../../index.scss';

.navbar {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 16px 0px;
    box-shadow: 0px 4px 19.9px 0px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(14px);
    z-index: 1000;

    .back-button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        
        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
        
        p {
            font-size: 14px;
        }
    }

    .each-tab {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-left: 1.5px solid rgba(0, 0, 0, 0.08);
        color: $unactive-color;
        position: relative;

        &:first-child {
            border-left: none;
        }

        &:last-child {
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            p {
                font-size: $font-size-small;
                cursor: pointer;
                transition: all 0.3s ease;
            }
    
            img {
                width: 22px;
                height: 22px;
                opacity: 0.3;
                transition: all 0.3s ease;
                // display: none;
            }
        }

        &:hover {
            img {
                opacity: 1;
            }

            p {
                color: $paragraph-color;
            }
        }

        &.active {
            p {
                color: $black-color;
            }

            img {
                opacity: 1;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                width: 5px;
                height: 5px;
                background-color: $meliora-color;
                border-radius: 50%;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .navbar {
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        width: fit-content;
        margin: auto;
        padding: 20px 0px;
        box-shadow: 0px 4px 19.9px 0px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(14px);
    
        .each-tab {
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-left: 1px solid rgba(0, 0, 0, 0.08);
            color: $unactive-color;
    
            &:first-child {
                border-left: none;
            }
    
            &:last-child {
            }
    
            a {
                p {
                    display: none;
                    font-size: $font-size-small;
                    cursor: pointer;
                }
        
                img {
                    width: 28px;
                    height: 28px;
                    opacity: 0.3;
                    display: initial;
                }
            }
    
            &.active {
                img {
                    opacity: 1;
                }

                p {
                    color: $meliora-color;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 6px;
                    height: 6px;
                    background-color: $meliora-color;
                    border-radius: 50%;
                }
            }
        }
    }
}