.container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.container .wide {
  grid-column: span 2;
}
