@import '../../index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  padding: 0 16px;

  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }

  .wrapper {
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    .image-parent {
      aspect-ratio: 1/1;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .container {  
    margin-top: 32px;

    h1 {
    }
  
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
  
      .image-parent {
        img {  
          &:hover {
            transform: scale(1)
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .container {  
    // margin-top: -60px;

    h1 {
      font-size: 28px;
    }
  
    .wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 8px;
  
      .image-parent {
        img {  
          &:hover {
            transform: scale(1)
          }
        }
      }
    }
  }
}