.background-container {
  position: relative;
  overflow: hidden; /* Menghindari elemen pseudo keluar dari batas */
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: 1.04;
  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(var(--blur)); /* Menggunakan blur yang bisa disesuaikan */
  z-index: -1; /* Menempatkan elemen pseudo di belakang konten utama */
}
